<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net/zhuruyi/bbs/mybatis-mapper/UserMapper.xml">
    <select id="selectAll" resultMap="net.zhuruyi.bbs.mybatis.pojo.User">
        select * FROM USER ;
    </select>
</mapper>